app/resources/connect_history.log
app/resources/camera_list.txt
app/__pycache__
app/__pycache__/main_menu.cpython-38.pyc
app/resources/connect_history.log
app/__pycache__/main_menu.cpython-38.pyc
app/__pycache__/start_menu.cpython-38.pyc
app/resources/connect_history.log
exemple_programe/__pycache__/email.cpython-38.pyc
.vscode/settings.json
